<div class="col-4 mx-2 mt-2">
    <div class="card bg-dark text-white mt-2" style="border-radius: 1rem">
        <div class="card-body p-2 text-center">
            <div>
                <h5 class="card-title">Player Details:</h5>
                @if (person$ | async; as person) {
                    <section>
                        <h3>Id: {{person.id}}</h3>                         
                        <h3>Name: {{person.name}}</h3>                                                   
                    </section>
                }
                <button class="btn btn-danger" (click)="editPerson(person$)" style="margin-left: 20px;"> Edit</button>
                <button class="btn btn-primary" [routerLink]="['../']">Go Back</button>
            </div>
        </div>
    </div>
</div>